<div class="fixed left-[15px] top-[15px] z-30">
    <button mat-icon-button class="p-1" (click)="location.back()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<div class="flex justify-center w-screen 
            lg:py-10 
            md:py-10 
            sm:py-10 
            xs:py-0">
    <mat-card class="lg:min-h-full lg:w-[66%] lg:py-3 
                    md:py-3 
                    sm:min-h-full sm:w-[66%] sm:py-3 
                    xs:min-h-screen xs:w-[100vw] xs:py-3 
                    2xs:min-h-screen 2xs:w-[100vw] 2xs:py-3" [style.view-transition-name]="'project-' + projectId">
        <mat-card-content class="flex justify-center p-5 content-stretch
                                 2xs: mt-[45px] xs: mt-[45px] sm: mt-[45px] md: mt-[5px] lg: mt-[5px]">

            <form class="flex flex-col items-start px-5" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
                @if (store.isLoadingProject() ){
                <div class="flex flex-row justify-center items-end">
                    <mat-spinner class="opacity-40" diameter="25" strokeWidth="4"></mat-spinner>
                </div>
                }
                <div class="w-full pb-8">
                    <div class="lg:flex lg:justify-start 
                        md:flex md:justify-start 
                        sm:flex sm:justify-start 
                        xs:flex xs:justify-center
                        2xs:flex 2xs:justify-center">
                        <a [href]="projectService.project().imageUrl" target="_blank">
                            <img [src]="projectService.project().image"
                                class="h-[70px] object-contain flex justify-center max-w-[250px]"
                                [style.view-transition-name]="'image-' + projectId" />
                        </a>
                    </div>
                </div>
                <mat-form-field class="w-[75%]">
                    <mat-label for="image">Logo Source: </mat-label>
                    <input matInput id="image" type="text" formControlName="image">
                </mat-form-field>
                <mat-form-field class="w-[75%]">
                    <mat-label for="imageUrl">Logo Path: </mat-label>
                    <input matInput id="imageUrl" type="text" formControlName="imageUrl">
                </mat-form-field>
                <mat-form-field class="w-[75%]">
                    <mat-label for="name">Name: </mat-label>
                    <input matInput id="name" type="text" formControlName="name"
                        [style.view-transition-name]="'name-' + projectId">
                </mat-form-field>
                <mat-form-field class="w-[100%]">
                    <mat-label for="description">Description: </mat-label>
                    <textarea matInput id="description" type="text" formControlName="description"
                        [style.view-transition-name]="'description-' + projectId"></textarea>
                </mat-form-field>

                <!-- @for (link of projectService.project().links; track link.id) {
                <div>
                    <a class="text-blue-600 hover:text-blue-500 decoration-2 hover:underline focus:outline-none focus:underline opacity-90"
                        [href]="link.url" target="_blank"
                        [style.view-transition-name]="'link'+link.id+'-' + projectId">{{link.name}}</a>
                </div>
                } -->

                <form class="flex flex-row pb-5 w-[100%]" [formGroup]="linksForm">
                    <div class="w-[100%]">
                        <label>Links</label>
                        @for (link of linksArr(); track link.id) {
                        <div>
                            <a class="text-blue-600 hover:text-blue-500 decoration-2 hover:underline focus:outline-none focus:underline opacity-90"
                                [href]="link.url" target="_blank"
                                [style.view-transition-name]="'link'+link.id+'-' + projectId">{{link.name}}</a>
                            <button mat-icon-button class="h-[30px] w-[30px] relative top-[7.5px]"
                                (click)="removeLink(link)"
                                [style.view-transition-name]="'link-delete'+link.id+'-' + projectId">
                                <mat-icon class="close-icon text-base">close</mat-icon>
                            </button>
                        </div>
                        }
                        <div class="flex flex-row pb-5">
                            <mat-form-field class="w-[100%] pr-5">
                                <mat-label for="name">Label: </mat-label>
                                <input matInput type="text" formControlName="name">
                            </mat-form-field>
                            <mat-form-field class="w-[100%] pr-5">
                                <mat-label for="url">Url: </mat-label>
                                <input matInput type="text" formControlName="url">
                            </mat-form-field>
                            <button mat-icon-button color="transparent" (click)="addLink()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </form>

                <label>Tags</label>
                <mat-form-field class="w-[100%]">
                    <mat-label for="tags">Tags: </mat-label>
                    <mat-chip-grid #tagsGrid aria-label="tags">
                        @for (tag of tagsArr(); track tag) {
                        <mat-chip-row (removed)="remove(tag)" [editable]="true" (edited)="edit(tag, $event)"
                            [aria-description]="'press enter to edit ' + tag">
                            {{tag}}
                            <button matChipRemove [attr.aria-label]="'remove ' + tag">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                        }
                        <input placeholder="New Tag..." [matChipInputFor]="tagsGrid"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)" />
                    </mat-chip-grid>
                </mat-form-field>

                <div class="hidden">
                    <mat-form-field class="w-[100%]">
                        <mat-label for="description">Gallery: </mat-label>
                        <textarea matInput id="gallery" type="text" formControlName="gallery"></textarea>
                    </mat-form-field>
                </div>
                <label>Gallery</label>
                <div class="sm:grid-cols-1 sm: grid sm: gap-8
                            md:grid-cols-3 md: grid md: gap-8 
                            lg:grid-cols-3 lg: grid lg: gap-8">
                    @for (photoUrl of projectForm.value.gallery; track photoUrl){
                    <div class="h-[150px] w-[150px]">
                        <img [src]="photoUrl" class="h-[150px] w-[150px] object-contain border-1" />
                        <button mat-icon-button class="h-[30px] w-[30px] relative top-[-162px] right-[-135px]"
                            (click)="removeImage(photoUrl)">
                            <mat-icon class="close-icon text-base">close</mat-icon>
                        </button>
                    </div>
                    }
                </div>

                <form class="flex flex-row pb-5 w-[100%]" [formGroup]="galleryForm">
                    <mat-form-field class="w-[100%] pr-5">
                        <mat-label for="image">Image Source: </mat-label>
                        <input matInput type="text" formControlName="imgsrc">
                    </mat-form-field>
                    <button mat-icon-button color="transparent" (click)="addImage()">
                        <mat-icon>add</mat-icon>
                    </button>
                </form>
                <div class="right-[15px] bottom-[15px] z-30 absolute">
                    @if (authService.token()) {
                    <button mat-button color="transparent" (click)="cancelChanges()"
                        [style.view-transition-name]="'button1-' + projectId">
                        <mat-icon>close</mat-icon>
                        <mat-label>Cancel</mat-label>
                    </button>
                    <button mat-button class="p-3" color="transparent" (click)="saveProject()"
                        [style.view-transition-name]="'button2-' + projectId">
                        <mat-icon>save</mat-icon>
                        <mat-label>Save</mat-label>
                    </button>
                    }
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>