<div class="grid-page">

  <div class="xs:absolute sm:absolute md:absolute lg:fixed right-[67px] top-[15px]">
    <button mat-icon-button (click)="sortGrid()">
      <mat-icon>sort_by_alpha</mat-icon>
    </button>
    @if (authService.token()) {
    <button mat-icon-button (click)="addProject()">
      <mat-icon>add</mat-icon>
    </button>
    }
  </div>
  <div class="flex flex-col items-center pt-[55px]">
    <div class="pb-8 flex flex-col items-center w-[80%]">
      <div class="pt-2 text-3xl flex flex-col items-center">
        <span>Michael Yamashita</span>

        <span>Portfolio Project Demo</span>
      </div>

      <div class="pt-5">
        <br>
        ** Demo: feel free to login, browse, create, update, and delete **
        <br>
        ** work in progress, best viewed in Chrome/Edge desktop or Android Chrome **
        <br>
        contact: mikeyamashita&#64;protonmail.com
        <br><br>
        <button class="mb-1" mat-button href="https://github.com/mikeyamashita/portfolio-angular">
          <span class="flex flex-row items-center"><img class="mr-3" height="24px" width="24px?"
              src="/assets/icons/github-mark.png">Front
            End Angular 18 Project
            Source</span>
        </button>
        <div>
          Simple crud app utilizing the latest features of angular 16/17/18, ngrx signals
          state management, view transitions api, zoneless, reactive forms, material design 3, and standalone components
        </div>

        <button class="my-3" mat-button href="https://github.com/mikeyamashita/portfolio-dotnetcore-api">
          <span class="flex flex-row items-center"><img class="mr-3" height="24px" width="24px?"
              src="/assets/icons/github-mark.png">Back End Project Source</span>
        </button>
        <div>
          built on .Net webapi 8 with entity framework with a PostgresSql DB.<br>
          Deployment: Dev - local
          docker container on MacOS, Staging - docker container on Windows 11, Prod - Azure </div>
      </div>
    </div>
    <div class="flex flex-row justify-center w-full">
      <mat-form-field class="pt-[20px] w-full
                            2xs:pr-3 2xs:pl-3
                            xs:pr-5 xs:pl-5
                            sm:pr-24 sm:pl-24 
                            md:pr-36 md:pl-36 
                            lg:pr-96 lg:pl-96" appearance="outline">
        <input #searchText matInput type="search" placeholder="Search" [(ngModel)]="search" (keydown.enter)="filter()"
          (ngModelChange)="filter()">
        <button mat-icon-button matSuffix class="mr-[4px]" (click)="filter()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    @if (store.isLoading()){
    <div class="flex flex-row justify-center">
      <mat-spinner class="opacity-40" diameter="25" strokeWidth="4"></mat-spinner>
    </div>
    }
    <div class="w-fit sm:grid-cols-3 sm: grid sm: gap-3
            md:grid-cols-4 md: grid md: gap-3 
            lg:grid-cols-4 lg: grid lg: gap-3">
      @for (project of projects; track project.id) {
      <mat-card class="transition ease-in-out delay-150 hover:scale-105 transition ease-in-out delay-150 h-[200px] 
                      2xs:w-[92vw] 
                      xs:w-[92vw] 
                      sm:w-[200px] 
                      md:w-[200px] 
                      lg:w-[250px]" [style.view-transition-name]="'project-' + project.id"
        (click)="cardClicked(project)">
        <mat-card-content>
          <img [src]="project.image" class="h-[50px] object-contain flex justify-start"
            [style.view-transition-name]="'image-' + project.id" />
          <div class="py-[10px]"></div>
          <div class="w-fit h-[50px]" [style.view-transition-name]="'name-' + project.id" [innerHTML]="project.name">
          </div>
        </mat-card-content>
      </mat-card>
      } @empty {
      @if (!store.isLoading()){
      <span>There are no items.</span>
      }
      }


      <div class="p-[5px]"></div>
    </div>

  </div>


</div>