<div class="flex flex-row justify-between">
    <h2 mat-dialog-title>{{this.projectService.project().id==undefined?'New Project':'Update Project'}}
    </h2>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit" [mat-dialog-close]="projectForm.value">Save</button>
    </mat-dialog-actions>

</div>
<mat-dialog-content class="mat-typography">
    <form class="flex flex-col items-start px-5" [formGroup]="projectForm" (ngSubmit)="onSubmit()">

        <label>Logo</label>
        <a [href]="projectService.project().imageUrl" target="_blank">
            <img [src]="projectService.project().image"
                class="h-[70px] object-contain flex justify-center max-w-[250px]" />
        </a>
        <mat-form-field class="w-[100%]">
            <mat-label for="image">Logo Path: </mat-label>
            <input matInput id="image" type="text" formControlName="image">
        </mat-form-field>
        <mat-form-field class="w-[100%]">
            <mat-label for="imageUrl">Logo URL: </mat-label>
            <input matInput id="imageUrl" type="text" formControlName="imageUrl">
        </mat-form-field>

        <label>Project Details</label>
        <mat-form-field class="w-[100%]">
            <mat-label for="name">Name: </mat-label>
            <input matInput id="name" type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field class="w-[100%]">
            <mat-label for="description">Description: </mat-label>
            <textarea matInput id="description" type="text" formControlName="description"></textarea>
        </mat-form-field>

        <form class="flex flex-row pb-5 w-[100%]" [formGroup]="linksForm">
            <div class="w-[100%]">
                <label>Links</label>
                @for (link of linksArr(); track link.id) {
                <div>
                    <a class="text-blue-600 hover:text-blue-500 decoration-2 hover:underline focus:outline-none focus:underline opacity-90"
                        [href]="link.url" target="_blank">{{link.name}}</a>
                    <button mat-icon-button class="h-[30px] w-[30px] relative top-[7.5px]" (click)="removeLink(link)">
                        <mat-icon class="close-icon text-base">close</mat-icon>
                    </button>
                </div>
                }
                <div class="flex flex-row pb-5">
                    <mat-form-field class="w-[100%] pr-5">
                        <mat-label for="name">Label: </mat-label>
                        <input matInput type="text" formControlName="name">
                    </mat-form-field>
                    <mat-form-field class="w-[100%] pr-5">
                        <mat-label for="url">Url: </mat-label>
                        <input matInput type="text" formControlName="url">
                    </mat-form-field>
                    <button mat-icon-button color="transparent" (click)="addLink()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </form>

        <label>Tags</label>
        <mat-form-field class="w-[100%]">
            <mat-label for="tags">Tags: </mat-label>
            <mat-chip-grid #tagsGrid aria-label="tags">
                @for (tag of tagsArr(); track tag) {
                <mat-chip-row (removed)="remove(tag)" [editable]="true" (edited)="edit(tag, $event)"
                    [aria-description]="'press enter to edit ' + tag">
                    {{tag}}
                    <button matChipRemove [attr.aria-label]="'remove ' + tag">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                }
                <input placeholder="New Tag..." [matChipInputFor]="tagsGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)" />
            </mat-chip-grid>
        </mat-form-field>

        <div class="hidden">
            <mat-form-field class="w-[100%]">
                <mat-label for="description">Gallery: </mat-label>
                <textarea matInput id="gallery" type="text" formControlName="gallery"></textarea>
            </mat-form-field>
        </div>
        <label>Gallery</label>
        <div class="sm:grid-cols-1 sm: grid sm: gap-8
                    md:grid-cols-3 md: grid md: gap-8 
                    lg:grid-cols-3 lg: grid lg: gap-8">
            @for (photoUrl of projectForm.value.gallery; track photoUrl){
            <div class="h-[150px] w-[150px]">
                <img [src]="photoUrl" class="h-[150px] w-[150px] object-contain border-1" />
                <button mat-icon-button class="h-[30px] w-[30px] relative top-[-162px] right-[-135px]"
                    (click)="removeImage(photoUrl)">
                    <mat-icon class="close-icon text-base">close</mat-icon>
                </button>
            </div>
            }
        </div>

        <form class="flex flex-row pb-5 w-[100%]" [formGroup]="galleryForm">
            <mat-form-field class="w-[100%] pr-5">
                <mat-label for="image">Image Source: </mat-label>
                <input matInput type="text" formControlName="imgsrc">
            </mat-form-field>
            <button mat-icon-button color="transparent" (click)="addImage()">
                <mat-icon>add</mat-icon>
            </button>
        </form>
    </form>
</mat-dialog-content>