<div class="fixed left-[15px] top-[15px] z-30">
    <button mat-icon-button class="p-1" (click)="navigateToGrid()"
        [disabled]="(store.isLoadingProject() || store.isSavingProject()) || linkStore.isLoading()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>
@if (authService.token()) {
<div class="fixed right-[67px] top-[15px] z-30">
    <button mat-icon-button (click)="updateProject()"
        [disabled]="(store.isLoadingProject() || store.isSavingProject()) || linkStore.isLoading()">
        <mat-icon>edit-note</mat-icon>
    </button>
</div>
}
<div class="flex justify-center w-screen h-full
            lg:py-10 
            md:py-10 
            sm:py-10 
            xs:py-0
            2xs:py-0">
    <mat-card class="lg:min-h-full lg:w-[55%] lg:py-3 
                    md:min-h-full md:w-[66%] md:py-3 
                    sm:min-h-full sm:w-[70%] sm:py-3 
                    xs:min-h-screen xs:w-[100vw] xs:py-3 
                    2xs:min-h-screen 2xs:w-[100vw] 2xs:py-3" [style.view-transition-name]="'project-' + projectId">
        <mat-card-content class="flex justify-center p-5 content-stretch
                                 2xs: mt-[45px] xs: mt-[45px] sm: mt-[45px] md: mt-[5px] lg: mt-[5px]">
            <div class="px-5">
                @if (store.isLoadingProject() ){
                <div class="absolute lg:right-10 top-5
                            md:right-10 top-5
                            sm:right10 top-5
                            xs:right-1/2 top-[14px] translate-x-1/2 translate-y-1/2
                            2xs:right-1/2 top-[14px]  translate-x-1/2 translate-y-1/2">
                    <mat-spinner class="opacity-40" diameter="25" strokeWidth="4"></mat-spinner>
                </div>
                }
                <div class="flex justify-start">
                    <a [href]="projectService.project().imageUrl" target="_blank">
                        <img [src]="projectService.project().image" class="min-h-[100px] min-w-[100px] max-w-[250px]
                        object-contain flex justify-center
                        lg:mt-0 mb-0
                        md:mt-0 mb-0
                        sm:mt-0 mb-0
                        xs:mt-8 mb-5
                        2xs:mt-8 mb-5" [style.view-transition-name]="'image-' + projectId" />
                    </a>
                </div>
                <h2 class="h-[30px] w-[300px]" [style.view-transition-name]="'content-' + projectId"
                    [style.view-transition-name]="'name-' + projectId">{{
                    projectService.project().name }}
                </h2>
                <div [style.view-transition-name]="'description-' + projectId">{{ projectService.project().description}}
                </div>

                <div class="pt-5">
                    @for (link of projectService.project().links; track link.id) {
                    <a class="text-blue-600 hover:text-blue-500 decoration-2 hover:underline focus:outline-none focus:underline opacity-90"
                        [href]="link.url" target="_blank"
                        [style.view-transition-name]="'link'+link.id+'-' + projectId">{{link.name}}</a>
                    }
                </div>

                <mat-chip-set #chipGrid class="pt-5" aria-label="tags">
                    @for (tag of projectService.project().tags; let index = $index; track tag) {
                    <mat-chip-row [aria-description]="'press enter to edit ' + tag"
                        [style.view-transition-name]="'tag-'+index+'-' + projectId">
                        <span>{{tag}}</span>
                    </mat-chip-row>
                    }
                </mat-chip-set>
                <div class="pt-5 sm:grid-cols-1 sm: grid sm: gap-8
                        md:grid-cols-3 md: grid md: gap-8 
                        lg:grid-cols-3 lg: grid lg: gap-8">
                    @for (photoUrl of projectService.project().gallery; let index = $index; track photoUrl){
                    <img [src]="photoUrl" class="object-fit"
                        [style.view-transition-name]="'gallery-'+index+'-' + projectId" />
                    }
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>